[submodule "threestudio"]
	path = third_party/threestudio
	url = git@github.com:threestudio-project/threestudio.git
[submodule "GradeADreamer"]
	path = third_party/GradeADreamer
	url = git@github.com:trapoom555/GradeADreamer.git
[submodule "PlacidDreamer"]
	path = third_party/PlacidDreamer
	url = git@github.com:HansenHuang0823/PlacidDreamer.git
[submodule "X-Dreamer"]
	path = third_party/X-Dreamer
	url = https://github.com/xmu-xiaoma666/X-Dreamer
